*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e96443;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #904e95, #e96443);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #904e95, #e96443); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container{
    width: 325px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
input{
    width: 100%;
    padding: 10px 10px;
    border: 0;
    background-color: cadetblue;
    margin: 0;
    font-size: 18px;
}
input:focus{
    border: 3px solid green;
    outline: 0;
}
table{
    width: 100%;
    margin: 0;
}
button{
    width: 100%;
    padding: 10px 0px;
    border: 0;
    /* margin: 0px; */
    background: slateblue;
    color: wheat;
    border-radius: 6px;
    font-size: 17px;
}
button:focus{
    border: 0;
    outline: 0;
}